.navbar-header {
    text-align: center;
    padding: 20px 0
}

.logo-title {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-box {
    font-size: 2rem;
    font-weight: bold;
    background-color: #A93480;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
}

.site-title {
    font-size: 2.5rem;
    margin: 0;
    color: #A93480 !important;
}

.logo-icon {
    margin-left: 5px;
}

.navbar {
    background-color: #AFDBE4;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
    color: #1E396F;
}