.navbar-header {
    text-align: center;
    padding: 20px 0
}

.logo-title {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-box {
    font-size: 2rem;
    font-weight: bold;
    background: #ccc;
    padding: 10px 15px;
    border-radius: 5px;
}

.site-title {
    font-size: 2.5rem;
    margin: 0;
}

.navbar {
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
    color: black;
}