.product-container {
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
  }
  
  .product-overview {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
  }
  
  .product-image {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .product-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    color: black;
  }

  .product-description {
    color: black;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

.product-price {
    font-weight: bold;
    margin-top: auto;
    color: black;
  }
  
  .product-details .price {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .section {
    margin-top: 60px;
  }
  
  .slider-container {
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .slider {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    overflow-x: auto;
    box-sizing: border-box;
    /*min-width: fit-content;*/
  }

  .stars {
    font-size: 1.5rem;
    color: #FFD700;
    margin-bottom: 10px;
  }
  
  .review-card,
  .product-card {
    width: 400px;
    height: 400px;
    background: #a8c2d5;
    padding: 40px;
    border: 1px solid #ccc;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 15px 50px;
  }

  .product-card:hover {
      box-shadow: 0 0 20px rgba(27, 11, 75, 0.4); 
  }

  .product-card p {
    margin: 5px 0;
    color: #1E396F;
    font-size: 1rem;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow: hidden;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .view-all-btn {
    padding: 10px 20px;
    background: lightgray;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  