{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Page Template</title>
        <link rel="stylesheet" href="{% static 'css/productPage.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        {% include "e_p/navbar.html" %}
        <h2>Free Services</h2>
        <div class="product-container">
            <div class="slider">
                {% for product in products %}
                <div class="product-card">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                    {% endif %}
                    <div class="produc-info">
                        <p>{{ product.name }}</p>
                        <p>{{ product.description }}</p>
                        <p>${{ product.price }}</p>

                        <div class="stars">
                        {% for i in "12345" %}
                            {% if i|add:'0' <= product.average_rating %}
                            <i class="fas fa-star"></i>
                            {% elif i|add:'0' <= product.average_rating|add:'0.5' %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <a href="{% url 'explore_reviews' product.pk %}" class="review-link-btn">Leave a Review</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>