{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>E-Paradise Login</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        {% include "e_p/navbar.html" %}

        <div class="login-container">
            <form action="/login" method="POST" class="login-form">
                <!--{% csrf_token %}-->
                <input type="text" name="username" placeholder="Username/Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" class="login-btn">LOG IN</button>
            </form>

            <p class="divider">Or, log in with:</p>
            <div class="oauth-icons">
                <a href="/accounts/google/login"><img src="{% static 'images/google-icon.png' %}" alt="Google login"></a>
                <a href="/accounts/microsoft/login"><img src="{% static 'images/microsoft-icon.png' %}" alt="Microsoft login"></a>
                <a href="/accounts/apple/login"><img src="{% static 'images/apple-icon.png' %}" alt="Apple login"></a>
            </div>

            <p class="signup">Don't have an account?</p>
            <p><a href="{% url 'Signup' %}">Create New Account</a></p>
        </div>
    </body>
</html>