{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<header class="navbar-header">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
    <div class="logo-title">
        <div class="logo-box">E</div>
        <h1 class="site-title">-Paradise</h1>
        <img src="{% static 'images/palmTree.png' %}" class="logo-icon" alt="Palm Tree" style="height: 50px; width: auto;">
    </div>
</header>

<nav class="navbar">
    <a href="{% url 'homepage' %}" class="nav-link">Home</a>
    <a href="{% url 'Explore' %}" class="nav-link">Explore Platforms</a>
    <a href="{% url 'Login' %}" class="nav-link">Login</a>
</nav>