{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Page Template</title>
        <link rel="stylesheet" href="{% static 'css/productPage.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
<body>
    {% include "e_p/navbar.html" %}
    <h2>Free Services</h2>
    <div class="product-container">
        <div class="slider-container">
            <div class="slider" id="productSlider">
                <div class="product-card">
                    <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                    <p>Name 1</p>
                    <p>Description</p>
                    <p>Price</p>
                    <div class="stars">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= p.average_rating %}
                                <i class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>          
                     <!-- Review -->
                     <form method="post" action="{% url 'explore_reviews' p.pk %}" class="review-form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-row">
                            {{ form.user.label_tag }}<br>
                            {{ form.user }}<br>
                            {{ form.user.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.rating.label_tag }}<br>
                            {{ form.rating }}<br>
                            {{ form.rating.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.comment.label_tag }}<br>
                            {{ form.comment }}<br>
                            {{ form.comment.errors }}
                        </div>
                        <button type="submit">Submit Review</button>
                    </form>
                </div>
                <div class="product-card">
                    <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                    <p>Name 1</p>
                    <p>Description</p>
                    <p>Price</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </div>
                     <!-- Review -->
                     <form method="post" action="{% url 'explore_reviews' p.pk %}" class="review-form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-row">
                            {{ form.user.label_tag }}<br>
                            {{ form.user }}<br>
                            {{ form.user.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.rating.label_tag }}<br>
                            {{ form.rating }}<br>
                            {{ form.rating.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.comment.label_tag }}<br>
                            {{ form.comment }}<br>
                            {{ form.comment.errors }}
                        </div>
                        <button type="submit">Submit Review</button>
                    </form>
                </div>
                <div class="product-card">
                    <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                    <p>Name 1</p>
                    <p>Description</p>
                    <p>Price</p>
                    <div class="stars">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= p.average_rating %}
                                <i class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>          
                     <!-- Review -->
                     <form method="post" action="{% url 'explore_reviews' p.pk %}" class="review-form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-row">
                            {{ form.user.label_tag }}<br>
                            {{ form.user }}<br>
                            {{ form.user.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.rating.label_tag }}<br>
                            {{ form.rating }}<br>
                            {{ form.rating.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.comment.label_tag }}<br>
                            {{ form.comment }}<br>
                            {{ form.comment.errors }}
                        </div>
                        <button type="submit">Submit Review</button>
                    </form>
                </div>
                <div class="product-card">
                    <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                    <p>Name 1</p>
                    <p>Description</p>
                    <p>Price</p>
                    <div class="stars">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= p.average_rating %}
                                <i class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>          
                       <!-- Review -->
                       <form method="post" action="{% url 'explore_reviews' p.pk %}" class="review-form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-row">
                            {{ form.user.label_tag }}<br>
                            {{ form.user }}<br>
                            {{ form.user.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.rating.label_tag }}<br>
                            {{ form.rating }}<br>
                            {{ form.rating.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.comment.label_tag }}<br>
                            {{ form.comment }}<br>
                            {{ form.comment.errors }}
                        </div>
                        <button type="submit">Submit Review</button>
                    </form>
                </div>
                <div class="product-card">
                    <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                    <p>Name 1</p>
                    <p>Description</p>
                    <p>Price</p>
                    <div class="stars">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= p.average_rating %}
                                <i class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>          
                     <!-- Review -->
                     <form method="post" action="{% url 'explore_reviews' p.pk %}" class="review-form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-row">
                            {{ form.user.label_tag }}<br>
                            {{ form.user }}<br>
                            {{ form.user.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.rating.label_tag }}<br>
                            {{ form.rating }}<br>
                            {{ form.rating.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.comment.label_tag }}<br>
                            {{ form.comment }}<br>
                            {{ form.comment.errors }}
                        </div>
                        <button type="submit">Submit Review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2>One-Time/Hybrid</h2>
    <div class="product-container">
        <div class="slider-container">
            <div class="slider" id="productSlider">
                <div class="product-card">
                    <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                    <p>Name 1</p>
                    <p>Description</p>
                    <p>Price</p>
                    <div class="stars">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= p.average_rating %}
                                <i class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>          
                     <!-- Review -->
                     <form method="post" action="{% url 'explore_reviews' p.pk %}" class="review-form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-row">
                            {{ form.user.label_tag }}<br>
                            {{ form.user }}<br>
                            {{ form.user.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.rating.label_tag }}<br>
                            {{ form.rating }}<br>
                            {{ form.rating.errors }}
                        </div>
                        <div class="form-row">
                            {{ form.comment.label_tag }}<br>
                            {{ form.comment }}<br>
                            {{ form.comment.errors }}
                        </div>
                        <button type="submit">Submit Review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2>Subscription</h2>
    <div class="product-container">
        <div class="slider-container">
            <div class="slider" id="productSlider">
                <div class="product-card">
                    <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                    <p>Name 1</p>
                    <p>Description</p>
                    <p>Price</p>
                    <div class="stars">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= p.average_rating %}
                                <i class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>                 
                        <!-- Review -->
                        <form method="post" action="{% url 'explore_reviews' p.pk %}" class="review-form">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-row">
                                {{ form.user.label_tag }}<br>
                                {{ form.user }}<br>
                                {{ form.user.errors }}
                            </div>
                            <div class="form-row">
                                {{ form.rating.label_tag }}<br>
                                {{ form.rating }}<br>
                                {{ form.rating.errors }}
                            </div>
                            <div class="form-row">
                                {{ form.comment.label_tag }}<br>
                                {{ form.comment }}<br>
                                {{ form.comment.errors }}
                            </div>
                            <button type="submit">Submit Review</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>