{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>E-Paradise Homepage</title>
        <link rel="stylesheet" href="{% static 'css/productPage.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        {% include "e_p/navbar.html" %}

        <!--PRODUCT OVERVIEW-->
        <div class="product-container">
            <div class="product-overview">
                <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                <div class="product-details">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <h2>Product Name</h2>
                    <p class="price">$ Price</p>
                    <p class="description">Product Description</p>
                </div>
            </div>
        </div>

        <hr>

        <!--REVIEWS-->
        <section class="section reviews-section">
            <h2>Reviews</h2>
            <div class="slider-container">
                <div class="slider" id="reviewSlider">
                    <!--Cards for each review-->
                    <div class="review-card">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                        </div>                          
                        <p>User Review 1</p>
                    </div>
                    <div class="review-card">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <p>User Review 2</p>
                    </div>
                    <div class="review-card">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <p>User Review 3</p>
                    </div>
                    <div class="review-card">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <p>User Review 4</p>
                    </div>
                    <div class="review-card">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <p>User Review 5</p>
                    </div>
                </div>
            </div>
            <div class="button-wrapper">
            <button class="view-all-btn">View All Reviews</button>
            </div>
        </section>

        <hr>

        <!--SIMILAR PRODUCTS-->
        <section class="section similar-section">
            <h2>Similar Products</h2>
            <div class="slider-container">
                <div class="slider" id="productSlider">
                    <div class="product-card">
                        <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                        <p>Name 1</p>
                        <p>Description</p>
                        <p>Price</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                        <p>Name 2</p>
                        <p>Description</p>
                        <p>Price</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                        <p>Name 3</p>
                        <p>Description</p>
                        <p>Price</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                        <p>Name 4</p>
                        <p>Description</p>
                        <p>Price</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="{% static 'images/KhanAcademyLogo.jpg' %}" class="product-image" alt="Product Image">
                        <p>Name 5</p>
                        <p>Description</p>
                        <p>Price</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>